{% extends 'base.html' %}

{% block content %}

{% for post in posts %}
<div class="container">
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
      <div class="article-metadata">
        <small class="text-muted">Le {{ post.created_on | date:"l j F Y à H:i" }}</small>
      </div>
      <p class="article-content">{{ post.snippet }}</p>
    </div>
  </article>
</div>
{% endfor %}

{% endblock %}